body {
  background-image: url('./assets/contact.jpg'); 
  background-size: cover; /* This will make the image cover the entire background of the page, cropping the excess */
  background-position: center; /* This will position the image in the center of the page */
  background-repeat: no-repeat; /* This will prevent the image from repeating */
}


.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input[type="submit"] {
  margin-top: 20px;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #3E8E41;
}

input[type="text"],
input[type="tel"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: none;
  background-color: #f2f2f2;
  font-size: 18px;
  font-weight: bold;
  resize: none;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}